<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="store.oneul.mvc.challenge.dao.ChallengeDAO">

    <!-- SELECT ONE -->
    <!-- 챌린지 상세 조회 + 방장 nickname + 로그인 유저의 success_day -->
    <select id="getChallenge" parameterType="map" resultType="store.oneul.mvc.challenge.dto.ChallengeDTO">
        SELECT 
            c.challenge_id,
            c.name,
            c.owner_id,
            c.category_id,
            c.description,
            c.total_day,
            c.goal_day,
            c.is_challenge,
            c.is_public,
            c.room_password,
            c.start_date,
            c.end_date,
            c.entry_fee,
            c.created_at,
            u.nickname AS owner_nickname,
            cu.success_day
        FROM challenge c
        JOIN user u ON c.owner_id = u.user_id
        JOIN challenge_user cu ON cu.challenge_id = c.challenge_id AND cu.user_id = #{loginUserId}
        WHERE c.challenge_id = #{challengeId}
    </select>

    <!-- SELECT ALL -->
    <select id="getChallenges" resultType="store.oneul.mvc.challenge.dto.ChallengeDTO">
        SELECT * FROM challenge
        ORDER BY created_at DESC
    </select>

    <!-- INSERT -->
    <insert id="insertChallenge" parameterType="store.oneul.mvc.challenge.dto.ChallengeDTO">
        INSERT INTO challenge (
            name, owner_id, category_id, description,
            total_day, goal_day, is_challenge, is_public,
            room_password, start_date, end_date, entry_fee
        ) VALUES (
            #{name}, #{ownerId}, #{categoryId}, #{description},
            #{totalDay}, #{goalDay}, #{isChallenge}, #{isPublic},
            #{roomPassword}, #{startDate}, #{endDate}, #{entryFee}
        )
    </insert>

    <!-- UPDATE -->
    <update id="updateChallenge" parameterType="store.oneul.mvc.challenge.dto.ChallengeDTO">
        UPDATE challenge
        SET name = #{name},
            category_id = #{categoryId},
            description = #{description},
            total_day = #{totalDay},
            goal_day = #{goalDay},
            is_challenge = #{isChallenge},
            is_public = #{isPublic},
            room_password = #{roomPassword},
            start_date = #{startDate},
            end_date = #{endDate},
            entry_fee = #{entryFee}
        WHERE challenge_id = #{challengeId}
    </update>

    <!-- DELETE -->
    <delete id="deleteChallenge" parameterType="long">
        DELETE FROM challenge
        WHERE challenge_id = #{challengeId}
    </delete>

</mapper>
