<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="store.oneul.mvc.payment.dao.PaymentDAO">

    <select id="existsByPaymentKey" parameterType="string" resultType="boolean">
        SELECT EXISTS (
            SELECT * FROM payment
            WHERE payment_key = #{paymentKey}
        )
    </select>
    
        <insert id="insert" parameterType="PaymentDTO">
        INSERT INTO payment (
            user_id,
            challenge_id,
            order_id,
            payment_key,
            amount,
            status
        ) VALUES (
            #{userId},
            #{challengeId},
            #{orderId},
            #{paymentKey},
            #{amount},
            #{status}
        )
    </insert>
    
    
</mapper>
