@import "tailwindcss";

@font-face {
  font-family: "Pretendard-Regular";
  src: url("@src/assets/fonts/PretendardVariable.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Pretendard-Regular", sans-serif;
}

body,
html,
#root {
  width: 100%;
  height: 100%;
}

@theme {
  --color-point: #3384fa;
  --color-background: #17171c;
  --color-text-white: #fbfbfb;
  --color-gray-1: #2c2c35;
  --color-logo-white: #eae7e6;
}

/* Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Chrome, Safari, Edge */
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

/* Firefox */
input[type="date"]::-moz-calendar-picker-indicator {
  display: none;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #484857;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5a5a64;
}

/* firefox */
.scroll-container {
  scrollbar-width: thin; /* auto | thin | none */
  scrollbar-color: #484857 transparent;
}
