@import 'tailwindcss';

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('@src/assets/fonts/PretendardVariable.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: 'Pretendard-Regular', sans-serif;
}

@theme {
  --color-point: #5f85f2;
  --color-background: #17171c;
  --color-text-white: #fbfbfb;
  --color-gray-1: #2c2c35;
}
